* {
    box-sizing: border-box;
}

@font-face {
    font-family: gilroy;
    src: url(gilroy.ttf);
  }

  
body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #DAD6CB;
    color: #222;
    font-family: gilroy;
}

.header, .footer {
    padding: 24px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header img {
    height: 48px;
}

.subscribe {
    height: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    position: relative;
}

.img {
    position: absolute; 
}

form {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media only screen and (max-width: 600px) {
    form {
     width: 100%;
    }
  }

input {
    padding: 12px; 
    border: 0;
    font-size: 18px;
}

button {
    background-color: #222;
    padding: 12px; 
    border: 0;
    color: #DAD6CB;
    font-size: 18px;
}

.button:hover {
    background-color: #ddd;
}



